# Copy this file to .env and fill in your values
# NEVER commit .env to GitHub

MONGODB_URI=mongodb+srv://nis6hal:Passwordhere@nischal.a0rdrqh.mongodb.net/portfolio?appName=Nischal
JWT_SECRET=pick_any_long_random_string_here
ADMIN_USERNAME=Nis6hal
ADMIN_PASSWORD=password here
PORT=3000
FRONTEND_URL=https://nis6hal.github.io
